@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9816 0.0017 247.839);
  --foreground: oklch(0.1649 0.0352 281.8285);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1649 0.0352 281.8285);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1649 0.0352 281.8285);
  --primary: oklch(0.6726 0.2904 341.4084);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9595 0.02 286.0164);
  --secondary-foreground: oklch(0.1649 0.0352 281.8285);
  --muted: oklch(0.9595 0.02 286.0164);
  --muted-foreground: oklch(0.1649 0.0352 281.8285);
  --accent: oklch(0.8903 0.1739 171.269);
  --accent-foreground: oklch(0.1649 0.0352 281.8285);
  --destructive: oklch(0.6535 0.2348 34.037);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9205 0.0086 225.0878);
  --input: oklch(0.9205 0.0086 225.0878);
  --ring: oklch(0.6726 0.2904 341.4084);
  --chart-1: oklch(0.6726 0.2904 341.4084);
  --chart-2: oklch(0.5488 0.2944 299.0954);
  --chart-3: oklch(0.8442 0.1457 209.2851);
  --chart-4: oklch(0.8903 0.1739 171.269);
  --chart-5: oklch(0.9168 0.1915 101.407);
  --sidebar: oklch(0.9595 0.02 286.0164);
  --sidebar-foreground: oklch(0.1649 0.0352 281.8285);
  --sidebar-primary: oklch(0.6726 0.2904 341.4084);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.8903 0.1739 171.269);
  --sidebar-accent-foreground: oklch(0.1649 0.0352 281.8285);
  --sidebar-border: oklch(0.9205 0.0086 225.0878);
  --sidebar-ring: oklch(0.6726 0.2904 341.4084);
  --font-sans: Poppins, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -2px;
  --shadow-opacity: 0;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 4px 8px -2px hsl(0 0% 0% / 0);
  --shadow-xs: 0px 4px 8px -2px hsl(0 0% 0% / 0);
  --shadow-sm: 0px 4px 8px -2px hsl(0 0% 0% / 0),
    0px 1px 2px -3px hsl(0 0% 0% / 0);
  --shadow: 0px 4px 8px -2px hsl(0 0% 0% / 0), 0px 1px 2px -3px hsl(0 0% 0% / 0);
  --shadow-md: 0px 4px 8px -2px hsl(0 0% 0% / 0),
    0px 2px 4px -3px hsl(0 0% 0% / 0);
  --shadow-lg: 0px 4px 8px -2px hsl(0 0% 0% / 0),
    0px 4px 6px -3px hsl(0 0% 0% / 0);
  --shadow-xl: 0px 4px 8px -2px hsl(0 0% 0% / 0),
    0px 8px 10px -3px hsl(0 0% 0% / 0);
  --shadow-2xl: 0px 4px 8px -2px hsl(0 0% 0% / 0);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1344 0 0);
  --foreground: oklch(0.9805 0.0171 84.5867);
  --card: oklch(0.2603 0 0);
  --card-foreground: oklch(0.6835 0.1676 34.7009);
  --popover: oklch(0.1891 0.0033 17.4452);
  --popover-foreground: oklch(0.6835 0.1676 34.7009);
  --primary: oklch(0.6835 0.1676 34.7009);
  --primary-foreground: oklch(0.9805 0.0171 84.5867);
  --secondary: oklch(0.1891 0.0033 17.4452);
  --secondary-foreground: oklch(0.9805 0.0171 84.5867);
  --muted: oklch(0.1891 0.0033 17.4452);
  --muted-foreground: oklch(0.9805 0.0171 84.5867);
  --accent: oklch(0.1891 0.0033 17.4452);
  --accent-foreground: oklch(0.9805 0.0171 84.5867);
  --destructive: oklch(0.6451 0.2271 18.1477);
  --destructive-foreground: oklch(0.9805 0.0171 84.5867);
  --border: oklch(0.1891 0.0033 17.4452);
  --input: oklch(0.1891 0.0033 17.4452);
  --ring: oklch(0.6835 0.1676 34.7009);
  --chart-1: oklch(0.6726 0.2904 341.4084);
  --chart-2: oklch(0.5488 0.2944 299.0954);
  --chart-3: oklch(0.8442 0.1457 209.2851);
  --chart-4: oklch(0.8903 0.1739 171.269);
  --chart-5: oklch(0.9168 0.1915 101.407);
  --sidebar: oklch(0.2603 0 0);
  --sidebar-foreground: oklch(0.9805 0.0171 84.5867);
  --sidebar-primary: oklch(0.2603 0 0);
  --sidebar-primary-foreground: oklch(0.9805 0.0171 84.5867);
  --sidebar-accent: oklch(0.1891 0.0033 17.4452);
  --sidebar-accent-foreground: oklch(0.6835 0.1676 34.7009);
  --sidebar-border: oklch(0.1891 0.0033 17.4452);
  --sidebar-ring: oklch(0.6835 0.1676 34.7009);
  --font-sans: Poppins, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -2px;
  --shadow-opacity: 0;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 4px 8px -2px hsl(0 0% 0% / 0);
  --shadow-xs: 0px 4px 8px -2px hsl(0 0% 0% / 0);
  --shadow-sm: 0px 4px 8px -2px hsl(0 0% 0% / 0),
    0px 1px 2px -3px hsl(0 0% 0% / 0);
  --shadow: 0px 4px 8px -2px hsl(0 0% 0% / 0), 0px 1px 2px -3px hsl(0 0% 0% / 0);
  --shadow-md: 0px 4px 8px -2px hsl(0 0% 0% / 0),
    0px 2px 4px -3px hsl(0 0% 0% / 0);
  --shadow-lg: 0px 4px 8px -2px hsl(0 0% 0% / 0),
    0px 4px 6px -3px hsl(0 0% 0% / 0);
  --shadow-xl: 0px 4px 8px -2px hsl(0 0% 0% / 0),
    0px 8px 10px -3px hsl(0 0% 0% / 0);
  --shadow-2xl: 0px 4px 8px -2px hsl(0 0% 0% / 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-black text-foreground;
  }
}
