@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.1344 0 0);
  --foreground: oklch(0.9805 0.0171 84.5867);
  --card: oklch(0.2603 0 0);
  --card-foreground: oklch(0.6835 0.1676 34.7009);
  --popover: oklch(0.1891 0.0033 17.4452);
  --popover-foreground: oklch(0.6835 0.1676 34.7009);
  --primary: oklch(0.6835 0.1676 34.7009);
  --primary-dark: oklch(0.6269 0.2065 33.96);
  --primary-foreground: oklch(0.9805 0.0171 84.5867);
  --secondary-light: oklch(0.2603 0 0);
  --secondary: oklch(0.1891 0.0033 17.4452);
  --secondary-foreground: oklch(0.9805 0.0171 84.5867);
  --muted: oklch(0.1891 0.0033 17.4452);
  --muted-foreground: oklch(0.9805 0.0171 84.5867);
  --accent: oklch(0.1891 0.0033 17.4452);
  --accent-foreground: oklch(0.9805 0.0171 84.5867);
  --destructive: oklch(0.6451 0.2271 18.15);
  --destructive-dark: oklch(0.6091 0.2446 24.27);
  --destructive-foreground: oklch(0.9805 0.0171 84.5867);
  --gray-light: oklch(0.7252 0 0);
  --gray: oklch(0.6401 0 0);
  --gray-dark: oklch(0.5555 0 0);
  --border: oklch(0.1891 0.0033 17.4452);
  --input: oklch(0.1891 0.0033 17.4452);
  --ring: oklch(0.6835 0.1676 34.7009);
  --chart-1: oklch(0.6726 0.2904 341.4084);
  --chart-2: oklch(0.5488 0.2944 299.0954);
  --chart-3: oklch(0.8442 0.1457 209.2851);
  --chart-4: oklch(0.8903 0.1739 171.269);
  --chart-5: oklch(0.9168 0.1915 101.407);
  --sidebar: oklch(0.2603 0 0);
  --sidebar-foreground: oklch(0.9805 0.0171 84.5867);
  --sidebar-primary: oklch(0.2603 0 0);
  --sidebar-primary-foreground: oklch(0.9805 0.0171 84.5867);
  --sidebar-accent: oklch(0.1891 0.0033 17.4452);
  --sidebar-accent-foreground: oklch(0.6835 0.1676 34.7009);
  --sidebar-border: oklch(0.1891 0.0033 17.4452);
  --sidebar-ring: oklch(0.6835 0.1676 34.7009);
  --font-sans: Poppins, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -2px;
  --shadow-opacity: 0;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 4px 8px -2px hsl(0 0% 0% / 0);
  --shadow-xs: 0px 4px 8px -2px hsl(0 0% 0% / 0);
  --shadow-sm:
    0px 4px 8px -2px hsl(0 0% 0% / 0), 0px 1px 2px -3px hsl(0 0% 0% / 0);
  --shadow:
    0px 4px 8px -2px hsl(0 0% 0% / 0), 0px 1px 2px -3px hsl(0 0% 0% / 0);
  --shadow-md:
    0px 4px 8px -2px hsl(0 0% 0% / 0), 0px 2px 4px -3px hsl(0 0% 0% / 0);
  --shadow-lg:
    0px 4px 8px -2px hsl(0 0% 0% / 0), 0px 4px 6px -3px hsl(0 0% 0% / 0);
  --shadow-xl:
    0px 4px 8px -2px hsl(0 0% 0% / 0), 0px 8px 10px -3px hsl(0 0% 0% / 0);
  --shadow-2xl: 0px 4px 8px -2px hsl(0 0% 0% / 0);
}

.dark {
  --background: oklch(0.1344 0 0);
  --foreground: oklch(0.9805 0.0171 84.5867);
  --card: oklch(0.2603 0 0);
  --card-foreground: oklch(0.6835 0.1676 34.7009);
  --popover: oklch(0.1891 0.0033 17.4452);
  --popover-foreground: oklch(0.6835 0.1676 34.7009);
  --primary: oklch(0.6835 0.1676 34.7009);
  --primary-dark: oklch(0.6269 0.2065 33.96);
  --primary-foreground: oklch(0.9805 0.0171 84.5867);
  --secondary-light: oklch(0.2603 0 0);
  --secondary: oklch(0.1891 0.0033 17.4452);
  --secondary-foreground: oklch(0.9805 0.0171 84.5867);
  --muted: oklch(0.1891 0.0033 17.4452);
  --muted-foreground: oklch(0.9805 0.0171 84.5867);
  --accent: oklch(0.1891 0.0033 17.4452);
  --accent-foreground: oklch(0.9805 0.0171 84.5867);
  --destructive: oklch(0.6451 0.2271 18.15);
  --destructive-dark: oklch(0.6091 0.2446 24.27);
  --destructive-foreground: oklch(0.9805 0.0171 84.5867);
  --gray-light: oklch(0.7252 0 0);
  --gray: oklch(0.6401 0 0);
  --gray-dark: oklch(0.5555 0 0);
  --border: oklch(0.1891 0.0033 17.4452);
  --input: oklch(0.1891 0.0033 17.4452);
  --ring: oklch(0.6835 0.1676 34.7009);
  --chart-1: oklch(0.6726 0.2904 341.4084);
  --chart-2: oklch(0.5488 0.2944 299.0954);
  --chart-3: oklch(0.8442 0.1457 209.2851);
  --chart-4: oklch(0.8903 0.1739 171.269);
  --chart-5: oklch(0.9168 0.1915 101.407);
  --sidebar: oklch(0.2603 0 0);
  --sidebar-foreground: oklch(0.9805 0.0171 84.5867);
  --sidebar-primary: oklch(0.2603 0 0);
  --sidebar-primary-foreground: oklch(0.9805 0.0171 84.5867);
  --sidebar-accent: oklch(0.1891 0.0033 17.4452);
  --sidebar-accent-foreground: oklch(0.6835 0.1676 34.7009);
  --sidebar-border: oklch(0.1891 0.0033 17.4452);
  --sidebar-ring: oklch(0.6835 0.1676 34.7009);
  --font-sans: Poppins, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -2px;
  --shadow-opacity: 0;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 4px 8px -2px hsl(0 0% 0% / 0);
  --shadow-xs: 0px 4px 8px -2px hsl(0 0% 0% / 0);
  --shadow-sm:
    0px 4px 8px -2px hsl(0 0% 0% / 0), 0px 1px 2px -3px hsl(0 0% 0% / 0);
  --shadow:
    0px 4px 8px -2px hsl(0 0% 0% / 0), 0px 1px 2px -3px hsl(0 0% 0% / 0);
  --shadow-md:
    0px 4px 8px -2px hsl(0 0% 0% / 0), 0px 2px 4px -3px hsl(0 0% 0% / 0);
  --shadow-lg:
    0px 4px 8px -2px hsl(0 0% 0% / 0), 0px 4px 6px -3px hsl(0 0% 0% / 0);
  --shadow-xl:
    0px 4px 8px -2px hsl(0 0% 0% / 0), 0px 8px 10px -3px hsl(0 0% 0% / 0);
  --shadow-2xl: 0px 4px 8px -2px hsl(0 0% 0% / 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary-light: var(--secondary-light);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-dark: var(--destructive-dark);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-gray-light: var(--gray-light);
  --color-gray: var(--gray);
  --color-gray-dark: var(--gray-dark);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 3px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-black text-foreground;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer utilities {
  .debug {
    @apply border-2 border-red-500;
  }

  .debug-2 {
    @apply border-2 border-green-500;
  }

  .title-1 {
    @apply text-5xl font-semibold leading-16;
  }

  .title-2 {
    @apply text-[40px] font-semibold leading-15;
  }

  .title-3 {
    @apply text-[32px] font-semibold leading-12;
  }

  .title-4 {
    @apply text-[24px] font-semibold leading-8;
  }

  .title-5 {
    @apply text-[20px] font-semibold leading-6;
  }

  .bg-texture {
    @apply bg-[repeating-linear-gradient(-45deg,rgba(8,8,8,0.2)_0px,rgba(8,8,8,0.2)_2px,transparent_2px,transparent_4px)];
  }
}
